body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

.container header{
    border: 1px solid black;
    background-image: url("https://static.tuoitre.vn/tto/i/s626/2017/03/25/1-1490428541.png");
    background-size: 100% 100%;
    height: 255px;
    padding-bottom: 1px;
}
.container nav{
    border: 1px solid black;
    line-height: 20px;
    background-color: lightblue;
    font-variant: small-caps;
}
nav ul li{
    display: inline-block;
    padding: 5px;
} 
.container nav a{
    color: black;
    text-decoration: none;
}
.container nav a:hover{
    color: blue;
    text-decoration: underline;
}


.container article{
    min-height: 500px;
    width: 70%;
    float: left;
}
.container aside{
    border: 1px solid black;
    min-height: 200px;
    width: 29%;
    float: right;
}
.container footer{
    height: 40px;
    padding-top: 20px;
    font-variant: small-caps;
    text-align: center;
    border: 1px solid black;
    clear: both;
}

.top-right{
    background-color: aqua;
    float: left;
    width: 200px;
    margin-top: 3px;
    margin-left: 3px;
    border:1px solid black;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 2px solid red ;
}
.top-right ul a{
    color: blue;
    text-decoration: none;
}
.top-right ul li{
    color: red;
    display: inline-block;
}
table{
    margin: 0 auto;
    text-align: center;
}
h2{
    text-align: center;
}